<form class="new-film" action="/films" method="post">
     <p>Title: <input type="text" name="film[title]" placeholder="Title"> </p>
     <p>Year: <input type="date" name="film[year]" placeholder="Year"> </p>
     <p>Sales: <input type="number" name="film[box_office_sales]" placeholder="Sales"> </p>
     <input type="submit" placeholder="Submit">
   </form>
